@media only screen and (orientation: landscape){
  body{
    width: 100vw;
    height: 100vh;
    
    
    background-image: url('../imagens/cev-landscape.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}