*{
  padding: 0px;
  margin: 0px;
}
img{
  width: 100vw;
  margin: 0px;
}
a{
  display: block;
  color: white;
  background-color: #841515;
  padding: 30px;
  text-align: center;
  font-size: 1.5em;
  text-decoration:  none;
}
a:hover{
  background-color:red;
}