@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width: 992px){
    #login{
        width: 80vw;
    }
    #imagen{
        float: left;
        width: 30%;
        height: 100%;
    }
    #formu{
        float: right;
        width: 70%;
    }
}
@media screen and (min-width: 992px){
    #login{
        width: 990px;
    }
    #imagen{
        float: right;
        width: 50%;
        height: 100%;
    }
    #formu{
        float: left;
        width: 50%;
        height: 100%;
    }
}