@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width: 992px){
    h1{
        margin-bottom: 20px;
       }
    p{
        margin-bottom: 50px;
    }
    #login{
        width: 80vw;
    }
    #imagen{
        float: left;
        width: 30%;
        height: 100%;
    }
    #formu{
        float: right;
        width: 70%;
    }
    span{
        transform: translateY(11px);
    }
    .campo{
        margin-bottom: 50px;
        height: 50px;
        width: 70%;
    }
    .campo > input{
        width: 85%;
        height: 30px;
        text-align: center;
        border-radius: 10px;
        border: none;
        transform: translateY(5px);
    }
    .botao{
        width: 70%;
    }
}
@media screen and (min-width: 992px){
    h1{
     margin-bottom: 20px;
    }
    p{
        margin-bottom: 50px;
    }
    #login{
        width: 990px;
    }
    #imagen{
        float: right;
        width: 50%;
        height: 100%;
    }
    #formu{
        float: left;
        width: 50%;
        height: 100%;
        margin: auto;

    }
    .campo{
        margin-bottom: 50px;
        width: 70%;
    }  
    .campo > input{
        width: 85%;
        height: 30px;
        text-align: center;
        border-radius: 10px;
        border: none;
    }
    .botao{
        width: 70%;
    }
}